# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment / secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Exercices exclus de git
/exercices_exclus_de_git/
